<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-light bg-dark p-4 mb-0">プロフィール編集</h5>
      <div class="form-body p-4">
        <%= form_with model: @user do |f| %>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fa fa-user"></i></span>
            </div>
              <%= f.text_field :name, autofocus: true, class:"form-control", placeholder:"ユーザー名" %>
          </div>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-building"></i></span>
            </div>
              <%= f.text_field :working_place, class:"form-control", placeholder:"勤務地" %>
          </div>
          <!--<div class="input-group mb-3 mt-4">-->
          <!--  <div class="input-group-prepend">-->
          <!--    <span class="input-group-text" aria-hidden="true"><i class="fa fa-users "></i></span>-->
          <!--  </div>-->
              <%#= f.text_field :affiliation, class:"form-control", placeholder:"ブランド" %>
          <!--</div>-->
          <!--<div class="input-group mb-3 mt-4">-->
          <!--  <div class="input-group-prepend">-->
          <!--    <span class="input-group-text" aria-hidden="true"><i class="fa fa-droplet"></i></span>-->
          <!--  </div>-->
              <%#= f.text_field :skin_type, class:"form-control", placeholder:"肌タイプ" %>
          <!--</div>-->
              <%= f.text_area :introduction, class:"form-control", rows:"3", placeholder:"自己紹介文"  %>
          <hr>
          <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*", class: "w-100" %>
          <hr>
          <%= f.submit "変更を保存", class:"btn btn-lg btn-block btn-black btn-secondary mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>