<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
      <h2>新規登録</h2>
      <%= form_with model: @user, url: root_path, local: true do |f| %>

      <div class="field">
        <%= f.text_field :name, autofocus: true, :placeholder => "ユーザー名", class: "input" %>
      </div><br>

      <div class="field">
        <%= f.email_field :email, autocomplete: "email", :placeholder => "メールアドレス", class: "input" %>
      </div><br>

      <div class="field">
        <%= f.password_field :password, :placeholder => "パスワード(6文字以上)", class: "input" %>
      </div><br>

      <div class="field">
        <%= f.password_field :password_confirmation, :placeholder => "パスワード(確認用)", class: "input" %>
      </div><br>

      <div class="actions">
        <%= f.submit "新規登録" %>
      </div>

      <% end %>
    </div>
  </div>
</div>