<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-light bg-dark p-4 mb-0">新規登録</h5>
      <div class="form-body p-4">
      <%= form_with model: @user, url: signup_path, local: true do |f| %>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fa fa-user"></i></span>
          </div>
            <%= f.text_field :name, autofocus: true, class:"form-control", placeholder:"ユーザー名" %>
        </div>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fa fa-envelope"></i></span>
          </div>
            <%= f.email_field :email, autocomplete: "email", class:"form-control", placeholder:"メールアドレス" %>
        </div>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fa fa-key"></i></span>
          </div>
            <%= f.password_field :password,  autocomplete: "current-password", class:"form-control", placeholder:"パスワード(6文字以上)" %>
        </div>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fa fa-key"></i></span>
          </div>
            <%= f.password_field :password_confirmation,  autocomplete: "current-password", class:"form-control", placeholder:"パスワード(確認用)" %>
        </div>
        <%= f.submit "新規登録する", class:"btn btn-lg btn-block btn-black btn-secondary mt-4" %>
      </div>

      <% end %>
    </div>
  </div>
</div>