<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-light bg-dark p-4 mb-0">編集</h5>
      <div class="form-body p-4">
        <%= form_with model: @cosmetic do |f| %>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fa fa-ribbon"></i></span>
            </div>
              <%= f.text_field :item, autofocus: true, class:"form-control", placeholder:"アイテム名" %>
          </div>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fa fa-bookmark"></i></span>
            </div>
              <%= f.text_area :description, class:"form-control", rows:"3", placeholder:"説明を入力..." %>
          </div>
          <hr>
          <%= f.file_field :image, placeholder: "アイテム画像", accept: "image/*", class: "w-100" %>
          <hr>
          <div class="field" id="star">
            <%= f.label :evaluation, "星評価：" %>
            <%= f.hidden_field :evaluation, id: :review_star %>
            <script>
              $('#star').raty({
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: 'cosmetic[evaluation]',
                half: true,
              });
            </script>
          </div>
          <%= f.submit "変更を保存", class:"btn btn-lg btn-block btn-black btn-secondary mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>