<div class="card-list-container py-5">
  <% @cosmetics.each do |cosmetic| %>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= link_to cosmetic_path(cosmetic.id) do %>
      <%= image_tag cosmetic.get_image(400, 400), class:"card-img-top";  %>
    <% end %>

    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= image_tag cosmetic.user.get_profile_image(50, 50), class:"mt-3 rounded-circle";  %>
          <%= cosmetic.user.name %></span>
        </div>
        <div class="col-10">
          <p class="card-title">
          <strong><i class="fa fa-ribbon"></i> <span><%= cosmetic.item %></span></strong>
          <br>
          <div class="relative-post-evaluation">
            <p>★ :
            <script>
              $('#star-rate-<%= cosmetic.id %>').raty({
                size: 36,
                starOff: "<%= asset_path('star-off.png') %>",
                starOn: "<%= asset_path('star-on.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                half: true,
                readOnly: true,
                score: <%= cosmetic.evaluation %>,
              });
            </script>
            <%= cosmetic.evaluation %></p>
          </div>
          <i class="fa fa-comment"></i>
          <%= link_to "#{cosmetic.cosme_comments.count}", cosmetic_path(cosmetic.id) %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <%= paginate @cosmetics %>
</div>